<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CinePedia</title>
</head>
<body>
    <h1>Bienvenido, {{ elemento.nombre }}</h1>
    <table border="2">
        <thead>
            <tr>
                <th>Pelicula</th>
                <th>Director</th>
                <th>Fecha de estreno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ elemento.Pelicula }}</td>
                <td>{{ elemento.Director }}</td>
                <td>{{ elemento.fecha_estreno }}</td>
                <td><a href="/usuarios/{{ elemento.id }}">Ver</a></td>
            </tr>
        </tbody>

    </table>
</body>
</html>