<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nueva pelicula</h1>
    <a href="">inicio</a> <a href="">Cerrar sesión</a>
    
    <h3>Sinopsis no puede estar vacía</h3>
    <p>Nombre de peli: <input type="text" name="pelicula"></p>
    <p>Director: <input type="text" name="director"></p>
    <p>Fecha de estreno: <input type="date" name="estreno"></p>
    <p>Sinopsis: <textarea name="sinopsis" rows="4" cols="50"></textarea></p>

    <button>Guardar Pelicula</button>    
</body>
</html>